*.iml
.gradle
/local.properties
.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
app/Configs/dev.properties
app/Configs/qa.properties
app/src/dev/google-services.json
app/src/qa/google-services.json
/jks

