<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.qtum.wallet">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:resizeableActivity="false"
        android:theme="@style/AppTheme"
        android:allowBackup="true"
        android:name="org.qtum.wallet.QtumApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        tools:targetApi="n">
        <activity
            android:theme="@style/AppTheme"
            android:name="org.qtum.wallet.ui.activity.main_activity.MainActivity"
            android:windowSoftInputMode="adjustResize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity
            android:theme="@style/SplashTheme"
            android:name="org.qtum.wallet.ui.activity.splash_activity.SplashActivity"
            android:noHistory="true"
            android:windowSoftInputMode="adjustPan|stateAlwaysVisible"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="org.qtum.wallet.dataprovider.services.update_service.UpdateService"
            android:enabled="true"
            android:exported="true">
        </service>

        <service android:name="org.qtum.wallet.dataprovider.firebase.QtumFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service android:name="org.qtum.wallet.dataprovider.firebase.QtumFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

    </application>

</manifest>